<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="sidebar"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      mat-icon-button
      class="menu-icon"
      *ngIf="isMobile"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <app-header [title]="title" [icon]="icon"></app-header>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
